{% extends 'base.html.twig' %}

{% block title %}Identifiants déjà consultés{% endblock %}

{% block body %}
    <h1>Identifiants déjà consultés</h1>
    <p class="flash flash-warning">
        Ce lien a déjà été utilisé{% if credentialReveal.viewedAt %} le {{ credentialReveal.viewedAt|date('d/m/Y à H:i') }}{% endif %}.
        Les identifiants ne sont affichés qu'une seule fois et ne peuvent plus être récupérés ici.
    </p>
    <p>Si l'élève a perdu ses identifiants, réinitialisez-les (mot de passe ou clé) pour ce projet.</p>
    <p><a class="btn" href="{{ path('projet_show', {id: credentialReveal.projet.id}) }}">Voir le projet</a></p>
{% endblock %}
